<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
<!--MOBILE WEB APP OPTIMIZATION CODE-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
-->
    <meta name="mobile-web-app-capable" content="yes">


     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
    
<body class='<%= controller.controller_name %>'>
<div class="container">
    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <% if logged_in? %>
                
                <li role="presentation"><%= link_to 'My Map', current_user %></li>
                <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
              <% else %>
            <li role="presentation"><%= link_to 'Home', root_path %></li>
              
              <li><%= link_to "Log in with Gmail", "/auth/google_oauth2" %></li>
              <% end %>

          </ul>
        </nav>
                <h3 class="text-muted"><%= link_to "Street Sweep", root_path %></h3>
      </div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<%= yield %>
    <%= render 'layouts/footer' %>
    </div>
</body>
</html>
